.content {
    height: 100vh;
    width: auto;
    background-color: #e9c46a;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.image img {
    max-width: 90%;
    max-height: 90%;

    border-radius: 75px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    font-weight: 500;
}

.logo {
    margin: 2em;
}

form input {
    min-width: 50%;
    margin: 1em;
    padding: 0.5em 1em;

    border: none;
    border-radius: 25px;
    box-shadow: 0px 6px 6px 0px gray;
}

form input:focus,
form input:active {
    outline: none;
    border: none;
}

.btn {
    min-width: 50%;
    background-color: #264653;
    margin: 1em 0 2em 0;
    padding: 0.5em 1em;

    color: white;
    font-weight: bold;

    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px 3px 0px gray;
}

.btn-txt {
    min-width: 0;
    width: fit-content;
    background-color: transparent;
    margin-top: 0;
    padding: 0 2px;

    color: black;

    border-bottom: black solid 2px;
    border-radius: 0;
    box-shadow: none;
}

.btn:active {
    transform: translate(1px, 1px);
}
